{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 50px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
    </div>

    <div class="container-fluid mt--5">

      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">New Category</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                  {%csrf_token%}
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-5">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Category Name<span class="text-red">*</span></label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" name="name"
                                value="{{category.name}}" readonly>
                      </div>
                    </div>
                        <div class="col-lg-5">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Slug<span class="text-red">*</span></label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" name="name"
                                value="{{category.slug}}" readonly>
                      </div>
                        </div>
                  </div>
                    <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Category Image<span class="text-red">*</span></label>
                          <br>
                        <img src="{{category.image.url}}" />
                      </div>
                    </div>
                    </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label">Description</label><br>
                          <textarea cols="20" rows="10" readonly>{{category.description}}</textarea>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
